
<div class="container show">
<h1 class="text-center">Create new Company</h1>
<form #userForm="ngForm" (ngSubmit)="postData()" novalidate>
  <div class="container">
    <div class="form-group">
      <label>Company name</label>
      <input type="text" class="form-control" required #name="ngModel" name="Name" pattern="^\D{2,50}$" [class.is-invalid]="name.invalid && name.touched"
             [(ngModel)]="CompanytoPost.name">
      <div *ngIf="name.errors && (name.invalid && name.touched)">
        <small class="text-danger" *ngIf="name.errors.required">Company`s name is required</small>
        <small class="text-danger" *ngIf="name.errors.pattern">Companys name should be from 2 to 50 symbols</small>
      </div>
    </div>
    <div class="form-group">
      <label>Company description</label>
      <textarea class="form-control" #description="ngModel" maxlength="256" [class.is-invalid]="description.invalid && description.touched"
                [(ngModel)]="CompanytoPost.description" name="Description"></textarea>
    </div>
    <button type="submit" [disabled]="userForm.form.invalid" class="btn btn-primary">Create</button>
    <button type="button" class="btn" (click)="goBack()">Cancel</button>
  </div>
</form>
</div>


