
<div class="container">
<header class="jumbotron my-4 text-center">
  <h1 class="display-4">List of our companies</h1>
  <p class="lead">Add your own company</p>
  <button class="btn btn-success" routerLink="/create">Add new company</button>
</header>
  <div class="row text-center">
  <div (click)="onSelect(company)" *ngFor="let company of data" class="col-xl-3 col-lg-4 col-md-6 col-sm-12 padding">
    <div class="card h-100 hover">
      <div class="card-body">
        <h4 class="card-title text-center">{{company.name}}</h4>
        <p>{{company.description}}</p>
      </div>
    </div>
  </div>
  </div>
</div>


