.show {
  margin-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 30px;
  padding-bottom: 50px;
  border: 2px solid lightgray;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.crudbuttons{
  float: right;
}
