
<div class="container show">
<h1>This is {{Company.name }} company info</h1>
  <h2>Name:  {{ Company.name }}</h2>
  <h3>Description:  {{ Company.description }}</h3>
<!--<p>Guid:  {{ Company.companyID }}</p>-->
  <div class="crudbuttons">
   <button class="btn btn-danger" (click)="deleteCompany(Company.companyID)">delete</button>
   <button class="btn btn-warning" (click)="onSelect(Company)">update</button>
  </div>
</div>


