
<div class="container show">
  <h1>Update Company</h1>
  <form #userForm="ngForm" (ngSubmit)="updateData()" novalidate>
    <div class="container">
      <div class="form-group">
        <label>Company name</label>
        <input type="text" class="form-control" required #name="ngModel" name="Name" pattern="^\D{2,50}$" [class.is-invalid]="name.invalid && name.touched"
               [(ngModel)]="CompanyToUpdate.name">
        <div *ngIf="name.errors && (name.invalid && name.touched)">
          <small class="text-danger" *ngIf="name.errors.required">Company`s name is required</small>
          <small class="text-danger" *ngIf="name.errors.pattern">Companys name should be from 2 to 50 symbols</small>
        </div>
      </div>
      <div class="form-group">
        <label>Company desc</label>
        <textarea class="form-control" #description="ngModel" maxlength="256" [class.is-invalid]="description.invalid && description.touched"
                  [(ngModel)]="CompanyToUpdate.description" name="Description"></textarea>
      </div>
      <button type="submit" [disabled]="userForm.form.invalid" class="btn btn-primary">Save</button>
      <button type="button" class="btn" routerLink="/companies">Cancel</button>
    </div>
  </form>
</div>


